<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application avec Authentification</title>
    <link rel="stylesheet" href="/Login.css">
</head>
<body>
    <header>
        <h1>Connexion à l'Application</h1>
    </header>

    <main>
        <form action="/login" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="login-button">Se connecter</button>
            
        </form>


        <a href="/auth/google">Se connecter avec Google</a>

        <p>Vous n'avez pas de compte? <a href="/inscription" >S'inscrire</a></p>
        <p style="color: red;"> <%= message %> </p>
    </main>
</body>
</html>
