<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="/Acceuil.css">

</head>
<body>
    <!-- Barre de navigation (navbar) -->
    <div class="navbar">
        <a href="/login" class="login-button">Se Connecter</a>
    </div>

    <!-- Contenu principal avec l'arrière-plan -->
    <div class="main-content">
        <h1>Bienvenue sur notre site de vente en ligne de vêtements !</h1>
        
    </div>
</body>
</html>
