
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page</title>
    <link rel="stylesheet" href="Dashborad.css">
    <link rel="stylesheet" href="popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>
    <div class="sidebar">
        <button onclick="afficherPopup()">Ajouter un produit</button>
        <button onclick="seDeconnecter()">Se déconnecter</button>
    </div>
    <div class="content">
        <!-- Votre contenu principal ici -->
    </div>

    <div class="popup" id="popup">
        <span class="close" onclick="fermerPopup()">&times;</span>
        <span id="popupTitle" class="popup-title">Ajouter un produit</span>
        <form action="/addProduct" method="post" id="productForm">
            <input type="hidden" id="csrfToken" name="csrfToken" value="">
            <input type="hidden" id="productId" name="productId" value>
            <label for="libelle">Libellé:</label><br>
            <input type="text" id="libelle" name="libelle" value required><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" required></textarea><br>
            <label for="images">Images:</label><br>
            <input type="text" id="images" name="images" required><br>
            <label for="prix">Prix:</label><br>
            <input type="number" id="prix" name="prix" required><br>
            <label for="categorie">Catégorie:</label><br>
            <input type="text" id="categorie" name="categorie" required><br>
            <input type="submit" id="submitButton" value="Ajouter">
        </form>
    </div>
    <div class="content">
    <div id="productList" class="product-list" style="display: none;">
        <h2>Liste des produits</h2>
    </div>
    </div>
    <script src="Test.js">
        
    </script>
    <script src="Update.js">
        
    </script>
</body>
</html>
