<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire d'inscription</title>
    <link rel="stylesheet" href="/inscription.css">
</head>
<body>
    <form id="myForm" action="/enregistrerUtilisateur" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom"><br><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom"><br><br>

        <label for="email">Nom d'utilisateur :</label>
        <input type="email" id="email" name="email"><br><br>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password"><br><br>

        <label for="confirmationMotDePasse">Confirmation du mot de passe :</label>
        <input type="password" id="confirmationMotDePasse" name="confirmationMotDePasse"><br><br>

        <input type="hidden" name="_csrf" value="" id="csrfToken"> <!-- Champ pour le jeton CSRF -->

        <span id="message"></span><br>
        <input type="submit"  value="Enregistrer">
    </form>
    <script src="scriptInscription.js"></script>
</body>
</html>
