<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire d'inscription</title>
    <link rel="stylesheet" href="/inscription.css">
</head>
<body>
    <form id="myForm" action="/enregistrerUtilisateur" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom"><br><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom"><br><br>

        <label for="email">Nom d'utilisateur :</label>
        <input type="email" id="email" name="email"><br><br>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password"><br><br>

        <label for="confirmationMotDePasse">Confirmation du mot de passe :</label>
        <input type="password" id="confirmationMotDePasse" name="confirmationMotDePasse"><br><br>

        <input type="hidden" name="_csrf" value="" id="csrfToken"> <!-- Champ pour le jeton CSRF -->

        <span id="message"></span><br>
        <input type="submit"  value="Enregistrer">
    </form>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Requête pour récupérer le jeton CSRF depuis le back-end
        fetch('http://localhost:5000/csrf-token')
            .then(response => response.json())
            .then(data => {
                const csrfToken = data.csrfToken;
                                // Stockage du jeton CSRF dans le champ caché du formulaire
                document.getElementById("csrfToken").value = csrfToken;
            })
            .catch(error => {
                console.error('Erreur lors de la récupération du jeton CSRF:', error);
            }); 
    
        document.getElementById('myForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Empêcher le rechargement de la page après la soumission du formulaire
            
            var nom = document.getElementById('nom').value;
            var prenom = document.getElementById('prenom').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var confirmationMotDePasse = document.getElementById('confirmationMotDePasse').value;
            var csrfToken = document.getElementById('csrfToken').value; // Récupération du jeton CSRF

            var message = document.getElementById('message');
            if (password !== confirmationMotDePasse) {
                message.textContent = "Les mots de passe ne correspondent pas. Veuillez réessayer.";
                return;
            } else {
                message.textContent = "";
            }

            fetch('http://localhost:5000/enregistrerUtilisateur', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': csrfToken // Ajout du jeton CSRF dans les en-têtes de la requête
                },
                body: JSON.stringify({
                    nom: nom,
                    prenom: prenom,
                    email: email,
                    password: password,
                    confirmationMotDePasse: confirmationMotDePasse
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erreur lors de l\'enregistrement de l\'utilisateur.');
                }
                alert('Utilisateur enregistré avec succès !');
                window.location.href = 'http://localhost:3000/login';
            })
            .catch(error => {
                console.error(error);
                alert('Une erreur est survenue lors de l\'enregistrement de l\'utilisateur.');
            });
        });
    });
    </script>
</body>
</html>
