/* Ajoutez des styles CSS ici pour styliser vos éléments */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-color:aquamarine;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 400px;
    margin: 70px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(142, 194, 142);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

.input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

a {
    display: inline-block;
    background-color: #f44336;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

a:hover {
    background-color: #d32f2f;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #666;
}

.login-button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    max-width: 210px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin: auto;
    display: block;
}

.login-button:hover {
    background-color: #43a047;
}
