.product-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.product-image {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#productList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-item h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-item p {
    margin: 5px 0;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.home-link {
    text-decoration: none; /* Supprime le soulignement par défaut du lien */
    color: #333; /* Couleur du texte */
    padding: 10px; /* Espacement autour de la flèche */
}